@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bs-primary: #085f63;
  --bs-primary-rgb: 8, 95, 99;
  --bs-secondary: #49beb7;
  --bs-secondary-rgb: 73, 190, 183;
  --bs-info: #49beb7;
  --bs-info-rgb: 73, 190, 183;

  --bs-font-sans-serif: 'Montserrat Alternates', sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

body {
  font-family: var(--bs-font-sans-serif);
}